<!DOCTYPE html>
<html lang="en">

<head>
    <title>Web Chat-App</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="./img/favicon.png" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/index.css">
</head>

<body>

    <nav class="navbar navbar-inverse" style="background: rgba(91, 159, 223, 0.767);">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" style="color: black;font-size: 22px;">Web Chat-App</a>
            </div>
            <nav class="nav navbar-nav navbar-right">
                <a class="navbar-brand" id="ownerId" style="color: black;font-size: 22px;" href="#"></a>
                <button onclick="logOut()" action="logOut" class="btn btn-primary" type="submit" form="nameform" value="Submit" style="border-radius: 5px; background: rgba(91, 159, 223, .767); border: none; margin-right: 15px; margin-top: 4px; color: black; font-size: 22px;">
                    Log Out </button>
            </nav>
        </div>
    </nav>

    <div class="column left" style="background-color:rgb(235, 235, 235);height: 725px; border-radius: 5px;">
        <div class="header" style="font-size:20px;margin-top: 5px;background: rgb(177, 177, 177);padding: 10px 15px;border-radius: 7px;">
            <h2>
                Friends</h2>
            <a style="font-size:24px;float: right;margin-top: -40px;" href="http://localhost:3000/addFriend" class="fa">&#xf067;</a>
        </div>
        <hr>
        <div class="friendList" style="overflow: auto; height: 565px;" id="friends">
        </div>
    </div>

    <div class="column right" style="background-color:rgb(255, 255, 255);">
        <div class="settings-tray">
            <div class="friend-name">
                <div class="text">
                    <h2 id="chatTitle"></h2>
                </div>
            </div>
        </div>
        <div class="col-12" style="height: 610px;overflow:auto;">
            <div class="chat-panel" style="overflow: hidden;" id="messenger">
                <div class="row no-gutters">
                    <!-- <div class="col-md-3"> -->
                    <!-- <div class="chat-bubble chat-bubble--left"> -->
                    <!-- Hi....! -->
                    <!-- </div> -->
                    <!-- </div> -->
                </div>
                <div class="row no-gutters">
                    <!-- <div class="col-md-3 offset-md-9"> -->
                    <!-- <div class="chat-bubble chat-bubble--right"> -->
                    <!-- Hlw....! -->
                    <!-- </div> -->
                    <!-- </div> -->
                </div>
            </div>
            <div class="col-12">
                <div class="chat-box">
                    <span style="font-size:25px;">&#128512;</span>
                    <input type="text" id="message" placeholder="Type your message here...">
                    <button style="font-size:25px; border:none;" class="glyphicon glyphicon-paperclip"></button>
                    <button onclick="chatUser()" action="chatUser" id="send" type="submit" form="nameform" value="Submit" style="font-size:25px; border:none;" class="glyphicon glyphicon-send"></button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./javascripts/index.js"></script>

</body>

</html>